FLASK_DEBUG=false
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216
SBERT_MODEL_NAME=all-MiniLM-L6-v2
ALLOWED_EXTENSIONS=jpg,jpeg,png,pdf
GEMINI_API_KEY=your-api-key-here
LLM_MODEL=llama-3.3-70b-versatile
GOOGLE_APPLICATION_CREDENTIALS=./credentials/your-service-account.json
